{% extends 'website/base.html' %}
{% load static %}

{% block title %}Contact - AiPrizm{% endblock title %}
{% block content %}


<!-- Full Screen Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" style="background: rgba(9, 30, 62, .7);">
            <div class="modal-header border-0">
                <button type="button" class="btn bg-white btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center justify-content-center">
                <div class="input-group" style="max-width: 600px;">
                    <input type="text" class="form-control bg-transparent border-primary p-3"
                        placeholder="Type search keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Screen Search End -->


<!-- Contact Start -->
<section id="contact" class="contact">
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
                <h5 class="fw-bold text-primary text-uppercase">Contact Us</h5>
                <h1 class="mb-0">If You Have Any Query, Feel Free To Contact Us</h1>
            </div>
            <div class="row g-5 mb-5">
                <div class="col-md-6">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="text-primary mb-2">Address</h5>
                            <div class="mb-0">Shivneri, Pandurangwadi <br> Road no. 4, Goregaon,<br>Mumbai, Maharashtra,
                                India 400063 </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.1s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class="text-primary mb-2">Call Us</h5>
                            <div class="mb-0">+91 8369 593260</br>+91 9892 061618</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-envelope-open text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class=" text-primary mb-2">Email Us</h5>
                            <div class="mb-0">aiprizmtech@gmail.com</br>aiprizm.info@gmail.com</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="d-flex align-items-center wow fadeIn" data-wow-delay="0.4s">
                        <div class="bg-primary d-flex align-items-center justify-content-center rounded"
                            style="width: 60px; height: 60px;">
                            <i class="fa fa-clock text-white"></i>
                        </div>
                        <div class="ps-3">
                            <h5 class=" text-primary mb-2">Open Hours</h5>
                            <div class="mb-0">Monday - Friday<br>10:00AM - 07:00PM</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">


                    <!-- Contact Form Start -->
                    <form class="contact_us_form" id="contact-form">
                        {% csrf_token %}
                        <div class="row g-3">
                            {{form.non_field_errors}}
                            <div class="col-md-6">
                                {{form.name.errors}}
                                {% comment %} <input type="text" class="form-control border-0 bg-light px-4"
                                    placeholder="Your Name" style="height: 55px;"> {% endcomment %}
                                {{form.name}}
                            </div>

                            <div class="col-md-6">
                                {{form.email.errors}}
                                {% comment %} <input type="email" class="form-control border-0 bg-light px-4"
                                    placeholder="Your Email" style="height: 55px;"> {% endcomment %}
                                {{form.email}}
                            </div>

                            <div class="col-12">
                                {{form.subject.errors}}
                                {% comment %} <input type="text" class="form-control border-0 bg-light px-4"
                                    placeholder="Subject" style="height: 55px;"> {% endcomment %}
                                {{form.subject}}
                            </div>

                            <div class="col-12">
                                {{form.message.errors}}
                                {% comment %} <textarea class="form-control border-0 bg-light px-4 py-3" rows="4"
                                    placeholder="Message"></textarea> {% endcomment %}
                                {{form.message}}
                            </div>

                            <div class="col-md-12 text-center">
                                <div class="loading">Loading</div>

                                <div class="error-message">
                                    <div class="row">
                                        <div class="col-sm-11" style="font-size: 0.927rem;">Oops! There was an issue. Please mail us at
                                            aiprizmtech@gmail.com
                                        </div>
                                        <div class="col-sm-1 text-right">
                                            <button type="button" class="btn-close btn-close-white" aria-label="Close" id="closeBtnError"></button>
                                        </div>
                                    </div>
                                </div>


                                <div class="sent-message">
                                    <div class="row">
                                        <div class="col-sm-11">
                                            Your message has been sent, we will get back to you. Thank you!
                                        </div>
                                        <div class="col-sm-1 text-right">
                                            <button type="button" class="btn-close btn-close-white" aria-label="Close" id="closeBtn"></button>
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-primary w-100 py-3" type="submit">Send Message</button>


                            </div>

                        </div>
                    </form>
                    <!-- Contact Form End -->


                </div>
                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.6s">
                    <iframe class="position-relative rounded w-100 h-100"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.528122957321!2d72.8503885!3d19.1721221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b72363059cd7%3A0x60a44a1f1f71c965!2sShivneri%20apartment!5e0!3m2!1sen!2sin!4v1664127227646!5m2!1sen!2sin"
                        frameborder="0" style="min-height: 350px; border:0;" allowfullscreen="" aria-hidden="false"
                        tabindex="0"></iframe>

                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">


    // Ajax
    $(document).on('submit', '#contact-form', function (e) {
        e.preventDefault();
        $('.loading').addClass("d-block")

        $.ajax({
            type: 'POST',
            url: '{% url "contact" %}',
            data: {
                name: $('#id_name').val(),
                email: $('#id_email').val(),
                subject: $('#id_subject').val(),
                message: $('#id_message').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function (data) {
                $('#id_name').val('');
                $('#id_email').val('');
                $('#id_subject').val('');
                $('#id_message').val('');
                $(".sent-message").addClass("d-block")

            },
            error: function (data) {
                $(".error-message").addClass("d-block")
                $('.loading').removeClass("d-block")
            },
        }).done((response) => {
            $('.loading').removeClass("d-block")
        })
    })

    $(document).ready(function () {
        // Set div display to none
        $("#closeBtn").click(function () {
            // $("#closeBtn").css("display", "none");
            $(".sent-message").removeClass("d-block")
            
        });

        $("#closeBtnError").click(function () {
            // $("#closeBtn").css("display", "none");
            $(".error-message").removeClass("d-block")
        });

    });
</script>

<!-- Contact End -->

{% endblock content %}